{% extends 'client/base.html.twig' %}

{% block stylesheets %}
	<link href="{{ asset('css/client/client_animals.css') }}" rel="stylesheet"/>
{% endblock %}
{% block javascripts%}
	<script src="{{asset('js/client/animalAppointments.js')}}" defer></script>
{% endblock %}
{% block title %}
	Mes animaux
{% endblock %}

{% block body %}
	<div class="scrolling">
		<div class="nav_animal">
			{% for animal in animals %}
				{% set age = now|date("Y") - animal.birthdate|date("Y") %}

				<div class="animals">
					<a href="#" class="animal-link" data-id="{{animal.id}}">
						<div class="decoration">
							<h1>{{ animal.name }}</h1>
							<p>{{animal.espece.name}}</p>
							{# <img src="{{asset('images/'{{animal.espece}}'.png')}}>"#}
						</div>
						<h2>{{ animal.espece.name }}</h2>
						<h2>Age:{{age}}</h2>
					</a>
				</div>

			{% endfor %}

		</div>
	</div>
	<br>
	<br>
	<div class="main-content">
		<div class="decoration">
			<h1 class="name">Nom :</h1>
			<p class="species"></p>
		</div>
		<br>
		<h1>
		    Date de naissance :
        </h1>
		<p class="birthdate"></p>
		<br>
		<h1>
			Age :
        </h1>
		<p class="age"></p>
        <br>
		<div class="line"></div>
        <br>
		<h1>Historique des rendez vous:</h1>
		<br>
		<ul class="appointments">
        </ul>
        <br>
        <br>
	<button class="delete" onclick="return confirm('Are you sure?')">
		<svg width="38" height="38" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
		<g filter="url(#filter0_d_148_74)">
		<path d="M5 6.6H33M16.2 13.6V20.6M21.8 13.6V20.6M7.8 6.6H30.2L27.988 26.508C27.9122 27.1931 27.5863 27.8262 27.0728 28.286C26.5592 28.7458 25.8941 29 25.2048 29H12.7952C12.1059 29 11.4408 28.7458 10.9272 28.286C10.4137 27.8262 10.0878 27.1931 10.012 26.508L7.8 6.6ZM12.483 2.6058C12.7095 2.12555 13.0678 1.7196 13.5162 1.43528C13.9646 1.15095 14.4846 0.999994 15.0156 1H22.9844C23.5156 0.999728 24.0359 1.15056 24.4846 1.4349C24.9333 1.71924 25.2918 2.12534 25.5184 2.6058L27.4 6.6H10.6L12.483 2.6058V2.6058Z" stroke="#FC3737" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" shape-rendering="crispEdges"/>
		</g>
		<defs>
		<filter id="filter0_d_148_74" x="0" y="0" width="38" height="38" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
		<feFlood flood-opacity="0" result="BackgroundImageFix"/>
		<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
		<feOffset dy="4"/>
		<feGaussianBlur stdDeviation="2"/>
		<feComposite in2="hardAlpha" operator="out"/>
		<feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
		<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_148_74"/>
		<feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_148_74" result="shape"/>
		</filter>
		</defs>
		</svg>
	</button>
	</div>
{% endblock %}
