{% extends 'client/base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('css/client/client_animals.css') }}" rel="stylesheet"/>
{% endblock %}
{% block title %}
    Mes animaux
{% endblock %}

{% block body %}
    <div class="scrolling">
        <div class="nav_animal">
        {% for animal in animals %}
        {% set age = now|date("Y") - animal.birthdate|date("Y") %}
        
            <div class="animals">
            <a href="#" data-id="{{ animal.id}}">
                <div class="decoration">
                    <h1>{{ animal.name }}</h1> <p>{{animal.espece.name}}</p>{# <img src="{{asset('images/'{{animal.espece}}'.png')}}>"#}  
                </div>
                <h2>{{ animal.espece.name }}</h2>
                <h2>Age:{{age}}</h2> 
            </a> 
            </div>
            
        {% endfor %}
        
        </div>
    </div>
    <br>
    <br>
    <div class="main-content">
        <div class="decoration">
        
        </div>
        {% for animalId, animalAppointments in appointments %}
            {% for appointment in animalAppointments %}
                {{ appointment.date|date("d/m/Y") }}
            {% endfor %}
        {% endfor %}
        
    </div>
{% endblock %}
