{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/air-datepicker@3.0.0/air-datepicker.css">
    <link rel="stylesheet" href="{{ asset('css/prendre_rdv.css') }}" />
{% endblock %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/air-datepicker@3.0.0/air-datepicker.js" defer></script>
    <script src="{{ asset('js/prendre_rdv.js') }}" defer></script>
{% endblock %}

{% block title %}Prendre Rendez-vous{% endblock %}

{% block body %}
    <header class="prendre_rdv_header">
        <form class="crenaux_form">
            <div class="sec sec--1">
                <label class="sec__title" for="espece">
                    Selectionner un animal
                </label>
                <div class="sec__content">
                    <select name="espece" id="espece">
                        {% for espece in especes %}
                            <option value="{{ espece.id }}" {% if selectedEspece == espece.id %} selected {% endif %}>{{ espece.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="sec sec--2">
                <label class="sec__title" for="date">
                    Choisir une date
                </label>
                <div class="sec__content">
                    <input type="text" name="date" id="date" value="{{ selectedDate }}" />
                </div>
            </div>
            <div class="sec sec--3">
                <label class="sec__title" for="typeEvent">
                    Choisir le type
                </label>
                <div class="sec__content">
                    <select name="typeEvent" id="typeEvent">
                        {% for typeEvent in typeEvents %}
                            <option value="{{ typeEvent.id }}" {% if selectedTypeEvent == typeEvent.id %} selected {% endif %}>{{ typeEvent.libType }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <button class="sec sec--4" type="submit">
                Chercher des créneaux
            </button>
        </form>
    </header>

    <main class="prendre_rdv_result">
        {% for veto in vetos %}
            <div class="card">
                <div class="card__veto_info">
                    <div class="name">
                        Dr. {{ veto.firstname }} {{ veto.lastname }}
                    </div>
                    <a class="contact" href="mailto:{{ veto.email }}">
                        Contacter
                    </a>
                </div>
                <div class="card__slots">
                    {% for slot in slots[veto.id] %}
                        <a class="slot" href="">
                            {{ slot['start'] }}
                        </a>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </main>
{% endblock %}
