{% extends 'base.html.twig' %}

{% block title %}VeteLib{% endblock %}

{%block stylesheets %}
    <link href="{{ asset('css/index.css') }}" rel="stylesheet"/>
{%endblock stylesheets %}
{%block javascripts%}
    <script 
        src="{{asset('js/index.js')}}" defer >
    </script>
{%endblock javascripts %}
{% block body %}
    <main class="index">
        <div class="pate">
            <h1>
                Le meilleur soutien <br><strong>Pour votre animal</strong>
            </h1>
        </div>
            <img src="{{asset('image/chat.png')}}" class="chat"/>

        
    </main>
    <section class="index">
        <h2>Nos Services </h2>
        <div class="allService">
            <div>
                <svg width="45" height="58" viewBox="0 0 45 58" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M22.5001 46.4815C23.8369 46.4815 24.9726 46.015 25.9073 45.0819C26.8442 44.1509 27.3126 43.0197 27.3126 41.6883V38.4927H30.5209C31.8577 38.4927 32.9935 38.0262 33.9282 37.0931C34.865 36.1621 35.3334 35.0309 35.3334 33.6994C35.3334 32.368 34.865 31.2368 33.9282 30.3058C32.9935 29.3727 31.8577 28.9062 30.5209 28.9062H27.3126V25.7106C27.3126 24.3792 26.8442 23.248 25.9073 22.317C24.9726 21.3839 23.8369 20.9174 22.5001 20.9174C21.1633 20.9174 20.0275 21.3839 19.0928 22.317C18.156 23.248 17.6876 24.3792 17.6876 25.7106V28.9062H14.4792C13.1424 28.9062 12.0067 29.3727 11.072 30.3058C10.1352 31.2368 9.66675 32.368 9.66675 33.6994C9.66675 35.0309 10.1352 36.1621 11.072 37.0931C12.0067 38.0262 13.1424 38.4927 14.4792 38.4927H17.6876V41.6883C17.6876 43.0197 18.156 44.1509 19.0928 45.0819C20.0275 46.015 21.1633 46.4815 22.5001 46.4815ZM6.45841 57.6659C4.69383 57.6659 3.18378 57.0406 1.92825 55.7901C0.670581 54.5374 0.041748 53.0324 0.041748 51.2748V16.1241C0.041748 14.3665 0.670581 12.8625 1.92825 11.612C3.18378 10.3593 4.69383 9.73302 6.45841 9.73302H38.5417C40.3063 9.73302 41.8175 10.3593 43.0751 11.612C44.3307 12.8625 44.9584 14.3665 44.9584 16.1241V51.2748C44.9584 53.0324 44.3307 54.5374 43.0751 55.7901C41.8175 57.0406 40.3063 57.6659 38.5417 57.6659H6.45841ZM6.45841 51.2748H38.5417V16.1241H6.45841V51.2748ZM6.45841 6.5375C5.54939 6.5375 4.78687 6.23073 4.17087 5.61719C3.55701 5.00578 3.25008 4.24737 3.25008 3.34198C3.25008 2.43658 3.55701 1.67711 4.17087 1.06357C4.78687 0.452159 5.54939 0.146454 6.45841 0.146454H38.5417C39.4508 0.146454 40.2122 0.452159 40.8261 1.06357C41.4421 1.67711 41.7501 2.43658 41.7501 3.34198C41.7501 4.24737 41.4421 5.00578 40.8261 5.61719C40.2122 6.23073 39.4508 6.5375 38.5417 6.5375H6.45841Z" fill="#2EA7B6"/>
                </svg>

                <h2>Traitement par médicaments</h2>
                <p>Nous disposons d’une large gamme de médicaments et de produits afin de prendre de la meilleure façon possible en charge votre compagnon</p>
            </div>
            <div>
                <svg width="40" height="58" viewBox="0 0 40 58" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M19.6428 0.519958C14.4332 0.519958 9.43696 2.57581 5.75323 6.23526C2.0695 9.8947 1.78201e-06 14.858 1.78201e-06 20.0332V45.035C-0.00155134 47.9063 1.01217 50.6869 2.86416 52.8913C4.71616 55.0957 7.28875 56.5839 10.1328 57.0959C12.9768 57.608 15.9115 57.1115 18.4245 55.693C20.9375 54.2745 22.8691 52.0242 23.882 49.335L25.7034 44.4993C26.2824 42.9726 27.089 41.541 28.0963 40.2525L35.2677 31.0954C37.4591 28.2959 38.8155 24.9415 39.1826 21.414C39.5498 17.8865 38.9129 14.3274 37.3445 11.1417C35.776 7.95593 33.3389 5.27148 30.3106 3.39372C27.2822 1.51596 23.7841 0.520281 20.2142 0.519958L19.6428 0.519958ZM14.2856 20.0332V29.5947C14.6856 29.3818 15.0821 29.1583 15.4713 28.9135C16.6392 28.1755 17.5321 27.3524 18.0428 26.3342C18.2549 25.9131 18.6268 25.593 19.0765 25.4443C19.5263 25.2956 20.0171 25.3305 20.441 25.5413C20.8648 25.752 21.1871 26.1214 21.3368 26.5682C21.4864 27.015 21.4513 27.5026 21.2392 27.9236C20.3249 29.7437 18.8356 30.9925 17.3856 31.9079C16.3852 32.5178 15.3501 33.0698 14.2856 33.5612V41.3204C14.2856 41.7909 14.0975 42.2421 13.7626 42.5747C13.4277 42.9074 12.9735 43.0943 12.4999 43.0943C12.0263 43.0943 11.5721 42.9074 11.2373 42.5747C10.9024 42.2421 10.7142 41.7909 10.7142 41.3204V20.0332C10.7142 17.6808 11.6549 15.4248 13.3293 13.7614C15.0038 12.098 17.2748 11.1635 19.6428 11.1635C22.0107 11.1635 24.2817 12.098 25.9562 13.7614C27.6306 15.4248 28.5713 17.6808 28.5713 20.0332V21.8071C28.5713 22.2776 28.3831 22.7288 28.0483 23.0615C27.7134 23.3942 27.2592 23.5811 26.7856 23.5811C26.312 23.5811 25.8578 23.3942 25.5229 23.0615C25.188 22.7288 24.9999 22.2776 24.9999 21.8071V20.0332C24.9999 18.6218 24.4355 17.2682 23.4308 16.2701C22.4262 15.2721 21.0635 14.7114 19.6428 14.7114C18.222 14.7114 16.8594 15.2721 15.8547 16.2701C14.85 17.2682 14.2856 18.6218 14.2856 20.0332Z" fill="#2EA7B6"/>
                </svg>

                <h2>A l’écoute de nos clients</h2>
                <p>Un service d’écoute est à votre disposition pour répondre à toutes vos demandes. N’hésitez pas à nous contacter !</p>
            </div>
            <div>
                <svg width="56" height="57" viewBox="0 0 56 57" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M43 1.51996L55 13.472M49 7.496L35.5 20.9421M26.5 11.978L44.5 29.9062M41.5 26.9181L22 46.3403H10V34.3882L29.5 14.9661M14.5 29.9062L19 34.3882M23.5 20.9421L28 25.4241M1 55.3043L10 46.3403" stroke="#2EA7B6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>

                <h2>Vaccination dans votre clinique</h2>
                <p>Nous vaccinons dans notre clinique pour le bien de vos animaux, et permettre un meilleur suivi des vaccins ainsi que de sa santé</p>
         
            </div>
        </div>
        <h2>Commentaires de nos clients</h2>
        <div id="carousel">
            <img src="{{asset('image/avis1.png')}}"style="display : none">
            <img src="{{asset('image/avis2.png')}}"style="display : none">
            <img src="{{asset('image/avis3.png')}}"style="display : none">
            <!-- Ajoute des boutons de contrôle -->
            <button onclick="previous()">Précédent</button>
            <button onclick="next()">Suivant</button>
        </div>

    </section>
{% endblock %}
