{% extends 'client/layout/base.html.twig' %}

{% block title %}Page de rendez vous client{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{asset('css/client/client_rdv.css')}}">
{% endblock %}
{% block javascripts%}
	<script src="{{asset('js/client/clientAppointment.js')}}" defer></script>
{% endblock %}


{% block body %}
	<div class="scrolling">
		<div class="nav_animal">
			{% for appointment in appointments %}
				

				<div class="animals">
					<a href="#" class="appointment-link" data-id="{{appointment.id}}">
						<div class="decoration">
							<h1>Rendez vous à venir</h1>
							{# <img src="{{asset('images/'{{animal.espece}}'.png')}}>"#}
						</div>
						<h2>Dr.{{ appointment.veterinaire.firstname }} {{appointment.veterinaire.lastname}}</h2>
						<h2>{{appointment.date|date("j M Y H:i")}}</h2>
					</a>
				</div>

			{% endfor %}

		</div>
	</div>
	<br>
	<br>
	<div class="main-content">
		<div class="decoration_bloc_principal">
			<p class="name_Vete"></p>
            <p class="date"></p>
		</div>
		<h1 class="species">{# <img src="{{asset('images/'{{animal.espece}}'.png')}}>"#}</h1>

		<h1>
			Nom de l'animal :
		</h1>
		<p class="name"></p>
		<br>
		<h1>
			Sujet du rendez vous :
		</h1>
		<p class="rdv"></p>
		<button class="delete" onclick="return confirm('Êtes vous sur de vouloir supprimer votre rendez vous ?')">
		</button>
	</div>
	<div class="bouton_bas_page">
		<button class="bouton_ajout" type="submit" onclick="redirect()">
			Ajouter un rendez vous
		</button>
		<div class="bouton_deconnexion">
			<a href="{{ path('app_logout') }}">Déconnexion</a>
		</div>
	</div>

{% endblock %}
