{% block stylesheets %}
    <link href="{{ asset('css/navbar.css') }}" rel="stylesheet">
{% endblock %}

{% block navbar %}
<header>
    <div class="top">
        <svg class="top__cat" width="45" height="45" viewBox="0 0 45 45" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M29.6312 45H8.35764C6.729 45.0007 5.13567 44.5252 3.77366 43.6322C2.41164 42.7391 1.34034 41.4674 0.691535 39.9734C0.0427269 38.4794 -0.155292 36.8284 0.121837 35.2233C0.398966 33.6183 1.13916 32.1292 2.25136 30.9394L4.83861 28.1644C6.12529 26.7853 6.82641 24.9605 6.79424 23.0745C6.76206 21.1886 5.9991 19.3888 4.66612 18.0544L2.12387 15.5138C1.87549 15.2472 1.74028 14.8946 1.7467 14.5303C1.75313 14.166 1.9007 13.8184 2.15833 13.5607C2.41595 13.3031 2.76351 13.1555 3.12779 13.149C3.49207 13.1426 3.84463 13.2778 4.11118 13.5262L6.65156 16.065C8.50168 17.9143 9.56108 20.4101 9.6062 23.0258C9.65132 25.6414 8.67864 28.1723 6.89341 30.0844L4.30616 32.8594C3.56994 33.6492 3.08026 34.6368 2.89721 35.701C2.71417 36.7651 2.84571 37.8596 3.2757 38.8501C3.7057 39.8405 4.41544 40.6839 5.31784 41.2768C6.22025 41.8696 7.27607 42.1862 8.35577 42.1875H10.2081C10.1968 41.4938 10.1968 40.59 10.2325 39.5381C10.315 37.08 10.5887 33.7744 11.363 30.4463C12.1354 27.1369 13.4309 23.6906 15.6319 21.0469C17.6249 18.6544 20.3377 16.9519 23.9318 16.6012V6.87938C23.9315 5.97605 24.1092 5.08153 24.4547 4.24689C24.8002 3.41226 25.3067 2.65387 25.9453 2.01504C26.5839 1.3762 27.3421 0.869442 28.1765 0.523698C29.011 0.177954 29.9054 -3.35703e-08 30.8086 0C31.5442 0.000497061 32.2495 0.293082 32.7694 0.813441C33.2894 1.3338 33.5815 2.03935 33.5815 2.775V4.56H37.6161C39.6784 4.56 41.5963 5.62875 42.6837 7.38375L44.0955 9.66375C46.514 13.5675 43.803 18.5906 39.2772 18.7706V40.1738C39.2772 41.4528 38.7695 42.6795 37.8657 43.5844C36.9619 44.4894 35.7359 44.9985 34.457 45H32.4435V40.1738C32.4439 39.0909 32.2311 38.0186 31.8172 37.018C31.4033 36.0175 30.7963 35.1083 30.0309 34.3423C29.2656 33.5764 28.3569 32.9688 27.3567 32.5541C26.3565 32.1394 25.2845 31.9259 24.2017 31.9256H21.352C20.9791 31.9256 20.6214 32.0738 20.3577 32.3375C20.094 32.6012 19.9459 32.9589 19.9459 33.3319C19.9459 33.7048 20.094 34.0625 20.3577 34.3262C20.6214 34.59 20.9791 34.7381 21.352 34.7381H24.2017C27.2015 34.7381 29.6331 37.1719 29.6331 40.1738V45H29.6312Z" fill="black"/>
        </svg>
        <div class="top__brand">
            VeteLib
            <svg width="32" height="38" viewBox="0 0 32 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M13.342 10.1585C13.5835 10.9982 13.696 11.8349 13.6796 12.6687C13.6632 13.5025 13.4652 14.2909 13.0856 15.0337C12.706 15.7765 12.1444 16.2844 11.4006 16.5576C10.4739 16.8978 9.51693 16.8044 8.5296 16.2773C7.54227 15.7502 6.70879 15.0079 6.02916 14.0506C5.34952 13.0933 4.86284 12.1039 4.56911 11.0822C4.32769 10.2425 4.21518 9.40576 4.23159 8.57195C4.24799 7.73814 4.44597 6.94983 4.82554 6.20702C5.20511 5.46421 5.76679 4.95624 6.51056 4.68312C7.44942 4.33837 8.40947 4.43067 9.3907 4.96004C10.3719 5.4894 11.2014 6.22924 11.879 7.17954C12.5566 8.12984 13.0443 9.12281 13.342 10.1585ZM10.0022 22.5948C10.3241 23.7144 10.3476 24.7811 10.0729 25.7949C9.79823 26.8086 9.19144 27.4879 8.25258 27.8326C7.32591 28.1729 6.35159 28.1013 5.32964 27.6179C4.30768 27.1344 3.4264 26.4252 2.6858 25.4903C1.9452 24.5554 1.42602 23.5701 1.12827 22.5345C0.80638 21.4148 0.781784 20.3447 1.05448 19.3239C1.32718 18.3031 1.93296 17.6204 2.87183 17.2756C3.7985 16.9354 4.77281 17.0069 5.79477 17.4904C6.81672 17.9739 7.69901 18.6866 8.44162 19.6285C9.18423 20.5704 9.70442 21.5592 10.0022 22.5948ZM17.0453 19.3819C18.4841 18.8536 20.2348 18.965 22.2976 19.7161C24.3603 20.4672 26.2332 21.613 27.9163 23.1534C29.5994 24.6938 30.6722 26.2687 31.135 27.8782C31.3201 28.522 31.3703 29.0953 31.2858 29.5983C31.2012 30.1013 30.996 30.5247 30.6703 30.8687C30.3446 31.2127 29.9916 31.497 29.6113 31.7217C29.2311 31.9465 28.7788 32.1551 28.2545 32.3476C27.4254 32.6521 26.1918 32.7569 24.5537 32.6622C22.9155 32.5674 21.7124 32.6611 20.9442 32.9432C20.1395 33.2387 19.0554 33.981 17.6921 35.1702C16.3287 36.3594 15.1959 37.1196 14.2936 37.4509C12.0623 38.2703 10.6529 37.6583 10.0654 35.615C9.71938 34.4114 9.67552 32.946 9.93383 31.2188C10.1921 29.4916 10.6553 27.8323 11.3234 26.2408C11.9915 24.6494 12.8408 23.208 13.8715 21.9167C14.9022 20.6253 15.9601 19.7804 17.0453 19.3819ZM20.143 13.3473C19.3992 13.6204 18.6806 13.5826 17.9872 13.2338C17.2938 12.885 16.7236 12.3787 16.2767 11.7151C15.8298 11.0514 15.4856 10.2997 15.2442 9.45999C14.9464 8.42435 14.8245 7.29706 14.8785 6.07811C14.9324 4.85917 15.2187 3.70966 15.7372 2.62958C16.2557 1.54951 16.9844 0.837091 17.9232 0.492337C18.667 0.219219 19.3856 0.257065 20.079 0.605872C20.7724 0.954679 21.3426 1.46092 21.7895 2.12459C22.2365 2.78826 22.5807 3.53995 22.8221 4.37966C23.1158 5.4013 23.2367 6.5251 23.1847 7.75104C23.1328 8.97698 22.8445 10.1311 22.3199 11.2134C21.7953 12.2957 21.0697 13.007 20.143 13.3473ZM27.4164 8.26275C28.3553 7.918 29.2004 8.06795 29.952 8.71262C30.7035 9.35728 31.2402 10.2394 31.5621 11.359C31.8598 12.3947 31.9522 13.5366 31.8393 14.785C31.7264 16.0333 31.3823 17.1925 30.807 18.2625C30.2316 19.3325 29.4806 20.0376 28.554 20.3779C27.6151 20.7226 26.7709 20.5762 26.0214 19.9385C25.2719 19.3008 24.7362 18.4222 24.4143 17.3026C24.1166 16.267 24.0231 15.1215 24.134 13.8661C24.2449 12.6108 24.5881 11.4482 25.1634 10.3782C25.7387 9.30817 26.4897 8.60303 27.4164 8.26275Z" fill="black"/>
            </svg>
        </div>
        <div>
            <input type="checkbox" id="checkbox_toggle" />
            <label for="checkbox_toggle" class="hamburger">&#9776;</label>
        </div>
    </div>
    <nav>
        <ul class="nav">
            <div class="nav__left">
                <li><a href="{{ path('app_index') }}">Accueil</a></li>
                <li><a href="{{ path('app_nous_connaitre')}}">Nous connaitre</a></li>
                <li><a href="{{ path('app_faq')}}">FAQ</a></li>
                <li><a href="{{ path('app_contact') }}">Nous contacter</a></li>
                <li><a href="{{ path('app_prendre_rdv') }}">Prendre Rendez-vous</a></li>
            </div>
            <div class="nav__right">
                {% if not app.user %}
                    <li class="nav--primary"><a href="{{ path('app_login') }}">Login</a></li>
                {% else %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav--primary"><a href="{{ path('admin') }}">{{app.user.lastname}} {{app.user.firstname}}</a></li>
                    {% elseif is_granted('ROLE_VETERINAIRE') %}
                        <li class="nav--primary"><a href="{{ path('app_panel_event') }}">{{app.user.lastname}} {{app.user.firstname}}</a></li>
                    {% else %}
                        <li class="nav--primary"><a href="{{ path('app_client_informations')}}">{{app.user.lastname}} {{app.user.firstname}}</a></li>
                    {% endif %}
                {% endif %}
            </div>
        </ul>
    </nav>

    </div>
</header>
{% endblock %}