<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="{{asset('css/reset.css')}}"/>
        <link href="{{asset('css/index.css')}}" type="text/css" rel="stylesheet"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
         {{ encore_entry_script_tags('app') }}
    </head>
    <body>
        <nav>    
            <div>
                <img src="{{asset('image/paw.png')}}" />
                <span>Vetelib</span> 
            </div>
            <ul>
                <li><a href="{{asset('accueil')}}">Accueil</a></li>
                <li><a href="{{asset('Connaitre')}}">Nous Connaitre</a></li>
                <li><a href="{{asset('FAQ')}}">FAQ</a></li>
                <li><a href="{{asset('Contacter')}}">Nous Contacter</a></li>
                <li class="blue"><a href="{{asset('Rendez-Vous')}}">Prendre rendez-vous</a></li>
                <li class="blue"><a href="{{asset('Connexion')}}">Login</a></li>
            </ul> 
        </nav> 
        {% block body %}{% endblock %}
    </body>
</html>
