<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block title %}{% endblock %}
		</title>
		<link href="{{ asset('css/reset.css') }}" rel="stylesheet"/>


		<style>
			body {
				background: url("{{ asset('images/client/background.svg') }}") no-repeat center center fixed;
			}
		</style>
		<link href="{{ asset('css/client/layout.css') }}" rel="stylesheet"/>
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body>
		<header>
			<div class="top">

				<input type="checkbox" id="checkbox_toggle"/>
				<label for="checkbox_toggle" class="hamburger">&#9776;</label>

			</div>
			<nav>
				<ul class="nav">
					<div class="nav__left">
						<li>
							<a href={{ path('app_index') }}>Accueil</a>
						</li>
						<li><a href={{ path('app_client_rendez_vous') }}>Mes rendez-vous</a></li>
						<li><a href={{ path('app_client_animals') }}>Mes animaux</a></li>
						<li><a href={{ path('app_client_informations') }}>Mes informations</a></li>
					</div>
					<div class="nav__right">
						<li class="nav--primary">{{ app.user.firstname }} {{ app.user.lastname }}</li>
					</div>
				</ul>
			</nav>
		</header>
		{% block body %}{% endblock %}
	</body>
</html>
