<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <link href="{{ asset('css/reset.css') }}" rel="stylesheet"/>
        <style>
            body {
                background: url("{{ asset('images/veterinaire/background.svg') }}") no-repeat center center fixed;
            }
        </style>
        <link href="{{ asset('css/veterinaire/layout.css') }}" rel="stylesheet"/>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <div class="veterinaire">
            <header class="veterinaire__header">
                <div class="veterinaire__header__connected">Nom vétérinaire connecté</div>
            </header>
            <div class="veterinaire__page">
                <div class="">
                <nav class="veterinaire__nav">
                    <ul class="veterinaire__nav--top">
                        <li><a href="#">Calendrier</a></li>
                        <li><a href="#">Clients</a></li>
                        <li><a href="#">Animaux</a></li>
                        <li><a href="#">Urgences</a></li>
                    </ul>
                    <ul class="veterinaire__nav--bottom">
                        <li><a href="#">Déconnexion</a></li>
                    </ul>
                </nav>
                <main class="veterinaire__main">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus interdum ac est eu lacinia. Ut eu pretium ante. Sed venenatis sem at felis eleifend, eget bibendum tortor tempus. Nam feugiat hendrerit leo vitae lacinia. Phasellus maximus quis magna nec pellentesque. Maecenas sit amet erat a neque consequat faucibus. Vivamus aliquam nisl et ultricies interdum. Donec venenatis tortor eget dapibus ullamcorper. Mauris mi leo, posuere sed enim ut, hendrerit rhoncus sapien. Nunc imperdiet eros non erat pretium, vel laoreet orci condimentum.

Sed consequat fringilla ex porta consectetur. Aliquam nulla erat, sodales eget turpis sit amet, rhoncus rutrum libero. Cras vel dui quis eros sollicitudin auctor condimentum id sem. Pellentesque malesuada lacus sed blandit rutrum. Fusce et diam ac felis egestas iaculis eu vitae nisi. Etiam quis maximus arcu, at posuere ligula. Proin fermentum massa dui, vitae cursus urna gravida non. Sed nibh nisi, vestibulum vel lorem nec, hendrerit egestas tellus. Integer felis lacus, imperdiet maximus augue ut, pharetra volutpat nibh.

Nulla tempor, enim ac sodales sodales, mi elit dictum arcu, sit amet sodales neque sapien sed nunc. Proin auctor tincidunt tortor eget congue. Nunc pellentesque pellentesque odio in bibendum. Donec bibendum lacinia dolor eu viverra. Fusce feugiat tincidunt tempus. Donec aliquam sed enim in ornare. Suspendisse ultrices dui odio. Curabitur dapibus massa orci, pharetra convallis metus finibus vel. Cras ut sollicitudin augue. Nunc ullamcorper porta faucibus. Morbi mollis ac mauris ut lobortis.

Phasellus volutpat enim orci, eu congue lacus lobortis in. Etiam auctor bibendum posuere. Duis nec dui eu arcu pellentesque vehicula. Morbi facilisis nisi erat, non faucibus arcu vulputate ut. Integer pellentesque tristique libero vitae ultricies. Maecenas porta ex ipsum, ac euismod mauris aliquet vitae. Suspendisse suscipit mollis nisi, vel congue risus volutpat ac. Maecenas sit amet lacus sem. Maecenas vel justo nisi. In facilisis erat tempus urna fringilla hendrerit.

Proin mattis tristique dui, vitae tempor mi dictum nec. Praesent a mattis lectus. Nam in tortor leo. Quisque eget metus sem. In venenatis elementum bibendum. Integer vitae interdum turpis. Nulla facilisi. Pellentesque tincidunt, enim in molestie molestie, tortor mi pulvinar nisl, nec pharetra nisl turpis vel quam. Sed venenatis pellentesque est, in eleifend lacus consectetur eget. Praesent lacinia faucibus porttitor. Sed pellentesque nunc sit amet tincidunt varius. Etiam volutpat massa eu pellentesque feugiat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                    {% block body %}{% endblock %}
                </main>
            </div>
        </div>
    </body>
</html>